ukol-09: Teplota ve městech
Úkol můžeš odevzdat buďto jako Jupyter Notebook .ipynb, nebo jako klasický program .py.

Stáhni si soubor temperature.csv, který obsahuje informace o průměrné teplotě v různých městech v listopadu 2017.

Vypiš si prvních několik řádků, ať si prohlédneš strukturu tabulky.

Dále napiš následující dotazy:

Dotaz na měření, která byla provedena v Praze. Je na datech něco zvláštního? Napadá tě, čím to může být? Zde je nápověda.
Dotaz na měření, ve kterých je teplota (sloupec AvgTemperature) vyšší než 80 stupňů.
Dotaz na měření, ve kterých je teplota vyšší než 60 stupňů a současně bylo měření provedeno v regionu (sloupec Region) Evropa (Europe).
Dotaz na extrémní hodnoty, tj. měření, ve kterých je teplota vyšší než 80 stupňů nebo menší než -20 stupňů.

In [1]:
import pandas

In [6]:
tmprtrs=pandas.read_csv('temperature.txt')
tmprtrs.head()

   Region  Country     City  Day  AvgTemperature
0  Africa  Algeria  Algiers    1            62.0
1  Africa  Algeria  Algiers    2            62.2
2  Africa  Algeria  Algiers    3            65.7
3  Africa  Algeria  Algiers    4            69.8
4  Africa  Algeria  Algiers    5            63.8

Dotaz na měření, která byla provedena v Praze. Je na datech něco zvláštního? Napadá tě, čím to může být? Zde je nápověda.

In [12]:
tmprtrs[tmprtrs['City']=='Prague']
# Vypada to na stupne Fahrenheita
# Prepocet do stupnu Celsia
tmprtrs['avg_C']=5/9 * (tmprtrs['AvgTemperature']-32)
tmprtrs[tmprtrs['City']=='Prague']

      Region         Country    City  Day  AvgTemperature     avg_C
2100  Europe  Czech Republic  Prague    1            43.5  6.388889
2101  Europe  Czech Republic  Prague    2            48.5  9.166667
2102  Europe  Czech Republic  Prague    3            44.4  6.888889
2103  Europe  Czech Republic  Prague    4            39.7  4.277778
2104  Europe  Czech Republic  Prague    5            40.6  4.777778
2105  Europe  Czech Republic  Prague    6            42.3  5.722222
2106  Europe  Czech Republic  Prague    7            43.5  6.388889
2107  Europe  Czech Republic  Prague    8            41.4  5.222222
2108  Europe  Czech Republic  Prague    9            43.8  6.555556
2109  Europe  Czech Republic  Prague   10            43.0  6.111111
2110  Europe  Czech Republic  Prague   11            39.5  4.166667
2111  Europe  Czech Republic  Prague   12            36.7  2.611111
2112  Europe  Czech Republic  Prague   13            35.8  2.111111
2113  Europe  Czech Republic  Prague   14            35.5  1.944444
2114  Europe  Czech Republic  Prague   15            39.1  3.944444
2115  Europe  Czech Republic  Prague   16            38.5  3.611111
2116  Europe  Czech Republic  Prague   17            36.6  2.555556
2117  Europe  Czech Republic  Prague   18            37.0  2.777778
2118  Europe  Czech Republic  Prague   19            37.5  3.055556
2119  Europe  Czech Republic  Prague   20            37.0  2.777778
2120  Europe  Czech Republic  Prague   21            41.3  5.166667
2121  Europe  Czech Republic  Prague   22            44.6  7.000000
2122  Europe  Czech Republic  Prague   23            41.8  5.444444
2123  Europe  Czech Republic  Prague   24            46.2  7.888889
2124  Europe  Czech Republic  Prague   25            43.3  6.277778
2125  Europe  Czech Republic  Prague   26            34.6  1.444444
2126  Europe  Czech Republic  Prague   27            36.1  2.277778
2127  Europe  Czech Republic  Prague   28            39.3  4.055556
2128  Europe  Czech Republic  Prague   29            36.9  2.722222
2129  Europe  Czech Republic  Prague   30            33.7  0.944444

Dotaz na měření, ve kterých je teplota (sloupec AvgTemperature) vyšší než 80 stupňů.

In [13]:
tmprtrs[tmprtrs['AvgTemperature']>80]

             Region Country             City  Day  AvgTemperature      avg_C
30           Africa   Benin          Cotonou    1            81.7  27.611111
31           Africa   Benin          Cotonou    2            81.8  27.666667
32           Africa   Benin          Cotonou    3            83.6  28.666667
33           Africa   Benin          Cotonou    4            83.4  28.555556
34           Africa   Benin          Cotonou    5            80.3  26.833333
...             ...     ...              ...  ...             ...        ...
8011  North America      US      Brownsville    2            80.8  27.111111
8012  North America      US      Brownsville    3            81.1  27.277778
8015  North America      US      Brownsville    6            80.5  26.944444
8042  North America      US   Corpus Christi    3            80.2  26.777778
8074  North America      US  Dallas Ft Worth    5            80.1  26.722222

[722 rows x 6 columns]

Dotaz na měření, ve kterých je teplota vyšší než 60 stupňů a současně bylo měření provedeno v regionu (sloupec Region) Evropa (Europe).

In [18]:
tmprtrs[(tmprtrs['AvgTemperature']>60) & (tmprtrs['Region']=='Europe')]

      Region   Country       City  Day  AvgTemperature      avg_C
1932  Europe   Albania     Tirana   13            60.3  15.722222
2402  Europe     Italy       Rome    3            62.2  16.777778
2404  Europe     Italy       Rome    5            60.4  15.777778
2580  Europe  Portugal     Lisbon    1            62.5  16.944444
2581  Europe  Portugal     Lisbon    2            63.2  17.333333
2582  Europe  Portugal     Lisbon    3            61.1  16.166667
2583  Europe  Portugal     Lisbon    4            61.6  16.444444
2602  Europe  Portugal     Lisbon   23            64.2  17.888889
2603  Europe  Portugal     Lisbon   24            62.6  17.000000
2701  Europe     Spain  Barcelona    2            63.8  17.666667
2702  Europe     Spain  Barcelona    3            63.1  17.277778
2703  Europe     Spain  Barcelona    4            63.5  17.500000
2704  Europe     Spain  Barcelona    5            61.6  16.444444
2730  Europe     Spain     Bilbao    1            62.9  17.166667
2731  Europe     Spain     Bilbao    2            66.3  19.055556
2732  Europe     Spain     Bilbao    3            63.8  17.666667
2751  Europe     Spain     Bilbao   22            62.7  17.055556
2752  Europe     Spain     Bilbao   23            69.5  20.833333
2753  Europe     Spain     Bilbao   24            62.5  16.944444

Dotaz na extrémní hodnoty, tj. měření, ve kterých je teplota vyšší než 80 stupňů nebo menší než -20 stupňů.

In [23]:
tmprtrs[(tmprtrs['AvgTemperature']>80)  | (tmprtrs['AvgTemperature']<-20) ]
# kontrola
tmprtrs[(tmprtrs['AvgTemperature']>80)  | (tmprtrs['AvgTemperature']<-20) ].to_csv(path_or_buf='Extremes.csv', sep=',')